/*@import url("navbar.css")*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*NAV BAR */

.MuiAppBar-colorPrimary-10 {
  background-color: #37474F !important;
}

.MuiButton-containedPrimary-93 {
  background-color: #B71C1C !important;
}

/*SEARCH BAR*/
.MuiGrid-container-108 {
  margin-bottom: 2%;
}

/* INFO WINDOW */

.MuiSvgIcon-root-226 {
  margin-right: 5%;
}


.test {
  float: right !important;
  position: absolute !important;
  right: 20px !important;
}

.modal {
  display: inline;
}

#modal-appear {
  position: absolute;
  right: 10px;
}

#toggle-modal-button {
  position: absolute;
  right: 10px;
}

