.business-pane {
  position: 'relative';
  width: 200px;
}

.business-list {
  word-wrap: auto;
}

.map {
  margin-left: 300px;
  line-height: 200px;
  height: 100%;
}

.categories {
  width: 100px;

}
/* 
.drawer-container {
  flex-grow: 1;
  height: 430;
  z-index: 1;
  overflow: 'hidden';
  position: 'relative';
  display: 'flex';
  padding-right: 100px !important;
} */
